<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>JDOilfield Operational System</title>
        <style type="text/css">
		
		table.bordebusqueda{
			border: solid;
			border-width: thin;
			border-color: Silver;
			text-align: left;
		}
            
            .celdaFirmaCentrada {
                font-size: 12px;
                font-style: normal;
                font-weight: normal;
                font-family: "Arial";
                /*text-transform: normal;*/
                color: #000000;
                background-color: #FFFFFF;
                text-align: center;
                /*display: table-cell;*/
            }
            
            .celdaTitulo {
                font-size: 12px;
                font-style: normal;
                font-weight: bold;
                font-family: "Arial";
                /*text-transform: normal;*/
                color: #000000;
                background-color: #FFFFFF;
                text-align: left;
                /*display: table-cell;*/
            }
            
            .celdaTituloRight {
                font-size: 12px;
                font-style: normal;
                font-weight: bold;
                font-family: "Arial";
                /*text-transform: normal;*/
                color: #000000;
                background-color: #FFFFFF;
                text-align: right;
                /*display: table-cell;*/
            }
            
            .celdaTipo {
                font-size: 12px;
                font-style: normal;
                font-weight: normal;
                font-family: "Arial";
                /* text-transform: normal;*/
                color: #000000;
                background-color: #FFFFFF;
                text-align: left;
                /*display: table-cell;*/
            }
            
            .piepag {
                font-family: "Courier New", Courier, mono;
                font-size: 12px;
                font-weight: normal;
            }
            
            .tabla {
                border : thin solid #000000;
            }
            
            .titulo {
                font-weight: bold;
                font-family: "Arial";
                font-size: 20px;
                text-align: right;
            }
            
            .izquierda {
                text-align: left;
            }
            
            .fuente {
                font-size: 12px;
                font-style: normal;
                font-family: "Arial";
            }
        </style>
		</meta>
    </head>
    <body>
     	  <tr>
                <td>
                    <img src="https://200.74.223.93/JDOilfieldWeb/images/logoHome.gif" width="100" height="100" alt="Logo JDOilfield"/>
                </td>
                
            </tr>
            <tr>
            
            <td align="left" class="titulo">
                 PASSWORD RECOVERY
            </td>
            </tr>

            <br>
            <p align="justify">Estimado Usuario, <br>
                Se ha recuperado satisfactoriamente su usuario y contraseña a nuestro sistema. <br>
                Ahora usted puede accesar con la información a continuación:
            </p>

			
			<tr>
                <td>
                     <p align="justify"> 
	                     Login: ${user.login} <br>
	                     Password: ${user.password} 
                     </p> 
                </td>
            </tr>

        	<p align="justify">Atentamente, <br>
        	 		J&D Oilfield International  </p>
        	
        	<table width="627" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="3">
                    <table>   
                        
                        <tr>
                            <td colspan="3">&nbsp;
                                
                            </td>
                        </tr>
                        <tr>
                            <td width="164">&nbsp;
                                
                            </td>
                            <td width="271" valign="bottom">
                                <hr>
                            </td>
                            <td width="184">&nbsp;
                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table width="627" align="left" cellspacing="0" cellpadding="1" border="0">
                                    <tr>
                                        <td width="183" class="celdaFirmaCentrada">
                                            3625 NW 82nd Avenue, Suite 403, <br>
											MIAMI, FLORIDA 33166, USA.  <br>
											Phone: +1 305 4360024 / 25 / 26 | Fax: +1 305 4360027  <br>
											international@jdoilfield.com
                                        </td>
                                        <td width="233" class="celdaFirmaCentrada">
                                           	Av. Principal de Lechería c/c Cajigal, Centro Empresarial <br>
											Lechería, Piso 6, Oficina N° 605, <br>
											Lechería, Edo. Anzoátegui, Venezuela. <br>
											Teléfono / Phone: +58 281 4208250 | Fax: +58 281 4208251
											venezuela@jdoilfield.com
                                        </td>
                                        <td width="205" class="celdaFirmaCentrada">
                                            Oficina Aeropuerto Caracas Altos de Curuma, Edificio Airtech, <br>
											Ofic. 1-9, Piso 1. Charallave, Edo. Miranda. <br>
											Teléfono / Phone: +58 239 8089353 <br>
											venezuela@jdoilfield.com
                                        </td>
                                        <td width="205" class="celdaFirmaCentrada">
                                            Aeropuerto International del Caribe General en Jefe Santiago Mariño, <br>
											Ofic. J&D Oilfield. Porlamar, Edo. Nueva Esparta <br>
											Teléfono / Phone: +58 295 2691519 | Fax: +58 295 2691598 <br>
											venezuela@jdoilfield.com 
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;
                    
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="piepag">
                    Este documento fue generado autom&aacute;ticamente por JD Mobile System. Por favor no respoder a este correo.<br>
                    This document was automatically generated by JD Mobile System. Please do not respond to this email.
                    <br>
                    <br>
                </td>
            </tr>
    </table>
    </body>
</html>
